.secondsection{
    padding-top: 5rem;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}
.secondsection img{
    height: 40rem;
}

.second-details h1{
    font-size: 3rem;
    padding-bottom: 1rem;
}
.second-details .second-features{
    padding-top: 2.5rem;
    display: flex;
    width: 80%;
    gap: 5rem;
}
.second-details .second-features h3{
    padding-bottom: 1rem;
}
.second-details .second-features p{
    font-size: 0.9rem;
}
.background-image-second img{
    position: absolute;
    height: 25rem;
    opacity: 0.1;
    left: 78rem;
    top: 35rem;
    z-index: -1;
}